In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName('CCQ1').getOrCreate()

In [0]:
data = [('Roshan',21,'DE',25000),('Ali',22,'Testing',10000),('Imran',22,'DE',25000),('Simran',22,'Testing',10000),('Basid',23,'R&D',100000)]
columns = ["Name","Age","Department","Salary"]
df1 = spark.createDataFrame(data=data,schema=columns)
df1.show()

+------+---+----------+------+
|  Name|Age|Department|Salary|
+------+---+----------+------+
|Roshan| 21|        DE| 25000|
|   Ali| 22|   Testing| 10000|
| Imran| 22|        DE| 25000|
|Simran| 22|   Testing| 10000|
| Basid| 23|       R&D|100000|
+------+---+----------+------+

In [0]:
data = [("DE",1990),("Testing",2002),("R&D",1919),("HR",1919),("IT",1909)]
columns = ["Department","Since"]
df2 = spark.createDataFrame(data=data, schema=columns)
df2.show()

+----------+-----+
|Department|Since|
+----------+-----+
|        DE| 1990|
|   Testing| 2002|
|       R&D| 1919|
|        HR| 1919|
|        IT| 1909|
+----------+-----+

In [0]:
# Manipulating - inserting a new record into the dataframe
new_data = ("Sam",32,'HR',50000)
df1 = df1.union(spark.createDataFrame([new_data]))
df1.show()

+------+---+----------+------+
|  Name|Age|Department|Salary|
+------+---+----------+------+
|Roshan| 21|        DE| 25000|
|   Ali| 22|   Testing| 10000|
| Imran| 22|        DE| 25000|
|Simran| 22|   Testing| 10000|
| Basid| 23|       R&D|100000|
|   Sam| 32|        HR| 50000|
+------+---+----------+------+

In [0]:
# Dropping the salary column from first dataframe
new_df1 = df1.drop("Salary").show()

+------+---+----------+
|  Name|Age|Department|
+------+---+----------+
|Roshan| 21|        DE|
|   Ali| 22|   Testing|
| Imran| 22|        DE|
|Simran| 22|   Testing|
| Basid| 23|       R&D|
|   Sam| 32|        HR|
+------+---+----------+

In [0]:
# Sorting on dataframe
df1.sort("Name").show()
# for sorting in descending order
df1.sort(df1["Name"].desc()).show()

+------+---+----------+------+
|  Name|Age|Department|Salary|
+------+---+----------+------+
|   Ali| 22|   Testing| 10000|
| Basid| 23|       R&D|100000|
| Imran| 22|        DE| 25000|
|Roshan| 21|        DE| 25000|
|   Sam| 32|        HR| 50000|
|Simran| 22|   Testing| 10000|
+------+---+----------+------+

+------+---+----------+------+
|  Name|Age|Department|Salary|
+------+---+----------+------+
|Simran| 22|   Testing| 10000|
|   Sam| 32|        HR| 50000|
|Roshan| 21|        DE| 25000|
| Imran| 22|        DE| 25000|
| Basid| 23|       R&D|100000|
|   Ali| 22|   Testing| 10000|
+------+---+----------+------+

In [0]:
# group by aggregations
# sum()
df1.groupby("Department").sum("Salary").show()
# avg()
df1.groupby("Department").avg("Salary").show()
# min()
df1.groupby("Department").min("Salary").show()
# max()
df1.groupby("Department").max("Salary").show()
# mean()
df1.groupby("Department").mean("Salary").show()
# count
df1.groupby("Department").count().show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|        DE|      50000|
|   Testing|      20000|
|       R&D|     100000|
|        HR|      50000|
+----------+-----------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|        DE|    25000.0|
|   Testing|    10000.0|
|       R&D|   100000.0|
|        HR|    50000.0|
+----------+-----------+

+----------+-----------+
|Department|min(Salary)|
+----------+-----------+
|        DE|      25000|
|   Testing|      10000|
|       R&D|     100000|
|        HR|      50000|
+----------+-----------+

+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|        DE|      25000|
|   Testing|      10000|
|       R&D|     100000|
|        HR|      50000|
+----------+-----------+

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|        DE|    25000.0|
|   Testing|    10000.0|
|       R&D|   100000.0|
|        HR|    50000.0|
+----------+-----------+

+----------+-----+
|Department|count|
+----------+-----+
|        DE|    2|
|   Testing|    2|
|       R&D|    1|
|        HR|    1|
+----------+-----+

In [0]:
# joining the two dataframes
df1.join(df2,df1.Department ==  df2.Department) .show()

+------+---+----------+------+----------+-----+
|  Name|Age|Department|Salary|Department|Since|
+------+---+----------+------+----------+-----+
|Roshan| 21|        DE| 25000|        DE| 1990|
| Imran| 22|        DE| 25000|        DE| 1990|
|   Sam| 32|        HR| 50000|        HR| 1919|
| Basid| 23|       R&D|100000|       R&D| 1919|
|   Ali| 22|   Testing| 10000|   Testing| 2002|
|Simran| 22|   Testing| 10000|   Testing| 2002|
+------+---+----------+------+----------+-----+