In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('CCQ').getOrCreate()

In [0]:
# creating database
spark.sql("CREATE DATABASE IF NOT EXISTS CCQ")
# creating tables
spark.sql("CREATE TABLE IF NOT EXISTS CCQ.EMPLOYEE (Name string, Age Int, Department String, Salary Int)")
spark.sql("CREATE TABLE IF NOT EXISTS CCQ.DEPARTMENT (Department String, Since Int)")
#Inserting values
spark.sql("INSERT INTO CCQ.EMPLOYEE(Name, Age, Department, Salary) VALUES\
('Roshan',21,'DE',25000),('Ali',22,'Testing',10000),\
('Imran',22,'DE',25000),('Simran',22,'Testing',10000),\
('Basid',23,'R&D',100000)")
spark.sql("INSERT INTO CCQ.DEPARTMENT(Department, Since) VALUES\
    ('DE',1990),('Testing',2002),('R&D',1919),('HR',1919),('IT',1909)")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
df1 = spark.sql("SELECT * FROM CCQ.employee")
df1.show()
df2 = spark.sql("SELECT * FROM CCQ.department")
df2.show()

+------+---+----------+------+
|  Name|Age|Department|Salary|
+------+---+----------+------+
|Roshan| 21|        DE| 25000|
|   Ali| 22|   Testing| 10000|
| Imran| 22|        DE| 25000|
|Simran| 22|   Testing| 10000|
| Basid| 23|       R&D|100000|
+------+---+----------+------+

+----------+-----+
|Department|Since|
+----------+-----+
|        DE| 1990|
|   Testing| 2002|
|       R&D| 1919|
|        HR| 1919|
|        IT| 1909|
+----------+-----+

In [0]:
# joins
# inner join
df1.join(df2,df1.Department ==  df2.Department,"inner") .show()

+------+---+----------+------+----------+-----+
|  Name|Age|Department|Salary|Department|Since|
+------+---+----------+------+----------+-----+
|Roshan| 21|        DE| 25000|        DE| 1990|
|   Ali| 22|   Testing| 10000|   Testing| 2002|
| Imran| 22|        DE| 25000|        DE| 1990|
|Simran| 22|   Testing| 10000|   Testing| 2002|
| Basid| 23|       R&D|100000|       R&D| 1919|
+------+---+----------+------+----------+-----+

In [0]:
#outer join
df1.join(df2,df1.Department ==  df2.Department,"outer").show()

+------+----+----------+------+----------+-----+
|  Name| Age|Department|Salary|Department|Since|
+------+----+----------+------+----------+-----+
|Roshan|  21|        DE| 25000|        DE| 1990|
| Imran|  22|        DE| 25000|        DE| 1990|
|  NULL|NULL|      NULL|  NULL|        HR| 1919|
|  NULL|NULL|      NULL|  NULL|        IT| 1909|
| Basid|  23|       R&D|100000|       R&D| 1919|
|   Ali|  22|   Testing| 10000|   Testing| 2002|
|Simran|  22|   Testing| 10000|   Testing| 2002|
+------+----+----------+------+----------+-----+

In [0]:
#full join
df1.join(df2,df1.Department ==  df2.Department,"full").show()

+------+----+----------+------+----------+-----+
|  Name| Age|Department|Salary|Department|Since|
+------+----+----------+------+----------+-----+
|Roshan|  21|        DE| 25000|        DE| 1990|
| Imran|  22|        DE| 25000|        DE| 1990|
|  NULL|NULL|      NULL|  NULL|        HR| 1919|
|  NULL|NULL|      NULL|  NULL|        IT| 1909|
| Basid|  23|       R&D|100000|       R&D| 1919|
|   Ali|  22|   Testing| 10000|   Testing| 2002|
|Simran|  22|   Testing| 10000|   Testing| 2002|
+------+----+----------+------+----------+-----+

In [0]:
#full outer join
df1.join(df2,df1.Department ==  df2.Department,"fullouter").show()

+------+----+----------+------+----------+-----+
|  Name| Age|Department|Salary|Department|Since|
+------+----+----------+------+----------+-----+
|Roshan|  21|        DE| 25000|        DE| 1990|
| Imran|  22|        DE| 25000|        DE| 1990|
|  NULL|NULL|      NULL|  NULL|        HR| 1919|
|  NULL|NULL|      NULL|  NULL|        IT| 1909|
| Basid|  23|       R&D|100000|       R&D| 1919|
|   Ali|  22|   Testing| 10000|   Testing| 2002|
|Simran|  22|   Testing| 10000|   Testing| 2002|
+------+----+----------+------+----------+-----+

In [0]:
#left join
df1.join(df2,df1.Department ==  df2.Department,"left").show()

+------+---+----------+------+----------+-----+
|  Name|Age|Department|Salary|Department|Since|
+------+---+----------+------+----------+-----+
|Roshan| 21|        DE| 25000|        DE| 1990|
|   Ali| 22|   Testing| 10000|   Testing| 2002|
| Imran| 22|        DE| 25000|        DE| 1990|
|Simran| 22|   Testing| 10000|   Testing| 2002|
| Basid| 23|       R&D|100000|       R&D| 1919|
+------+---+----------+------+----------+-----+

In [0]:
#left outer join
df1.join(df2,df1.Department ==  df2.Department,"leftouter").show()

+------+---+----------+------+----------+-----+
|  Name|Age|Department|Salary|Department|Since|
+------+---+----------+------+----------+-----+
|Roshan| 21|        DE| 25000|        DE| 1990|
|   Ali| 22|   Testing| 10000|   Testing| 2002|
| Imran| 22|        DE| 25000|        DE| 1990|
|Simran| 22|   Testing| 10000|   Testing| 2002|
| Basid| 23|       R&D|100000|       R&D| 1919|
+------+---+----------+------+----------+-----+

In [0]:
# right join
df1.join(df2,df1.Department ==  df2.Department,"right").show()

+------+----+----------+------+----------+-----+
|  Name| Age|Department|Salary|Department|Since|
+------+----+----------+------+----------+-----+
| Imran|  22|        DE| 25000|        DE| 1990|
|Roshan|  21|        DE| 25000|        DE| 1990|
|Simran|  22|   Testing| 10000|   Testing| 2002|
|   Ali|  22|   Testing| 10000|   Testing| 2002|
| Basid|  23|       R&D|100000|       R&D| 1919|
|  NULL|NULL|      NULL|  NULL|        HR| 1919|
|  NULL|NULL|      NULL|  NULL|        IT| 1909|
+------+----+----------+------+----------+-----+

In [0]:
#right outer join
df1.join(df2,df1.Department ==  df2.Department,"rightouter").show()

+------+----+----------+------+----------+-----+
|  Name| Age|Department|Salary|Department|Since|
+------+----+----------+------+----------+-----+
| Imran|  22|        DE| 25000|        DE| 1990|
|Roshan|  21|        DE| 25000|        DE| 1990|
|Simran|  22|   Testing| 10000|   Testing| 2002|
|   Ali|  22|   Testing| 10000|   Testing| 2002|
| Basid|  23|       R&D|100000|       R&D| 1919|
|  NULL|NULL|      NULL|  NULL|        HR| 1919|
|  NULL|NULL|      NULL|  NULL|        IT| 1909|
+------+----+----------+------+----------+-----+

In [0]:
# left semi join 
df1.join(df2,df1.Department ==  df2.Department,"leftsemi").show()

+------+---+----------+------+
|  Name|Age|Department|Salary|
+------+---+----------+------+
|Roshan| 21|        DE| 25000|
|   Ali| 22|   Testing| 10000|
| Imran| 22|        DE| 25000|
|Simran| 22|   Testing| 10000|
| Basid| 23|       R&D|100000|
+------+---+----------+------+

In [0]:
# left anti join
df1.join(df2,df1.Department ==  df2.Department,"leftanti").show()

+----+---+----------+------+
|Name|Age|Department|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [0]:
import pandas as pd

In [0]:
def filter_age():
    filtered_df1 = pd.DataFrame()
    filtered_df1 = df1[df1['Age'] > 22]
    filtered_df1.show()

In [0]:
filter_age()

+-----+---+----------+------+
| Name|Age|Department|Salary|
+-----+---+----------+------+
|Basid| 23|       R&D|100000|
+-----+---+----------+------+